hmtl, body{
    color: #fff;
    font-family: "Rubik", serif;
    background-color: black;
    font-size: 14px;
    overflow-x: hidden;
}

.extra-colors{
    color: #44cc00!important;
}

.navbar{
    background-color: #000!important;
    border-bottom: 1px solid #15181a;
    z-index: 1000;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    position: fixed;
    left: 0;
    width: 100%;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #131617!important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    animation: fadeIn 0.5s ease; /* Effet de fade-in */
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.navbar-nav .nav-link{
    padding-inline: 1.5rem!important;
}

.welcome-carousel{
    height: 800px;
    font-family: "Oswald", serif;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header{
    border-bottom: 1px solid #15181a;
}

.context{
    width: 50%;
}

@media(max-width:769px){
    .context{
        width: 100%;
    }
}

.context p{
    border-color: #44cc00!important;
    border-width: 3px;
    font-size: 1.2rem;
}

.cta{
    background-color: #44cc00;
    text-transform: uppercase;
    font-family: 'Rubik', serif;
    color: #fff!important;
    font-weight: 500;
}

.cta:hover{
    background-color: transparent!important;
    color: #44cc00;
    border: solid 1px #44cc00;
}

.border-extras{
    border-color: #44cc00!important;
}

.about-section{
    font-family: 'Oswald', serif;
}

.about-section ul li{
    font-size: 1.1rem;
}

.about-section h2{
    font-size: 3.14rem;
}

h2{
    font-size: 3.14rem;
    font-family: 'Oswald', serif;
}

.about-box img{
    max-width: 100%;
    position: relative;
}

.about-pictures:before {
    position: absolute;
    content: "";
    height: 300px;
    width: 300px;
    background: url(../images/about-shape.svg) no-repeat;
    background-repeat: no-repeat;
    bottom: -27%;
    left: -10%;
    z-index: -1;
}

.testi{
    padding-top: 5rem!important;
    font-family: 'Oswald', serif;
}

.testi-text, .rea-text, .serv-text, .news-text{
    font-size: 1.3rem;
}

.news-list{
    font-size: 1rem;
}

.testi-item:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #131617;
}

.owl-nav{
    position: absolute;
    top: -45px;
    right: 0;
}

.form-cta input{
    background-color: #32383a;
    border: solid 1px #44cc00;
    border-radius: .3rem;
    width: 315px;
    color: #fff;
}
.form-cta a{
    padding: 1rem;
    background: #44cc00;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    text-align: left;
    border: 1px solid transparent;
    font-size: 1.05rem;
    text-decoration: none;
}

.form-cta a:hover{
    color: #44cc00;
    border-color: #44cc00;
    font-size: 1.05rem;
    text-decoration: none;
    background-color: transparent;
}

footer{
    border-top: 1px solid #15181a;
}

.menu-footer a:hover{
    color: #44cc00!important;
}

.menu-footer{
    flex-wrap: wrap;
}

.copyright{
    color: #474747;
}

#particles-js .particles-js-canvas-el{
    position: absolute;
    top: 0;
}

header .cta{
    position: relative;
    z-index: 2;
}

header{
    background: url("../images/bg-header.jpeg")top left no-repeat;
    background-size: cover;
}

.parallax{
    margin-block: 2rem;
    background: url("../images/software-developer.jpg")top left no-repeat;
    background-size: contain;
    background-attachment: fixed!important;
    padding-block: 225px;
}

@media(max-width:769px){
    .parallax{
        display: none;
    }
}

.nav-link.active::after{
    content: "";
    max-width: calc(80% - 1.25rem);
    position: absolute;
    bottom: -.8rem;
    left: 1.5rem;
    width: 100%;
    border: solid 2px #44cc00;
}

footer{
    background: url(../images/shape-footer.png)center center no-repeat;
    background-size: auto 75%;
}

.stroke-text{
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #171c1e;
    position: absolute;
    left: 0;
    top: -65px;
    z-index: -1;
}

.owl-nav i{
    padding: 12px 14px;
    border:#44cc00 solid 1px;
    margin-top: -20px;
    border-radius: 4px;
}

.owl-nav i:hover{
    background-color: #44cc00;
    color: #fff!important;
}

@media(max-width: 769px){
    .navbar{
        position: relative;
    }
    .navbar .container{
        margin-right: 0!important;
    }
    body, html{
        overflow-x: hidden;
    }
}

.btn-pack{
    color: #fff;
    background-color: #44cc00;
}

.btn-pack:hover{
    background-color: transparent;
    color: #44cc00;
    border: #44cc00 1px solid;
}

.single-service{
    background-color: #15181a;
}

.single-service.active, .single-service:hover {
    background: #44cc00;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.single-service:hover{
    transform: translateY(-10px);
    transition: all 500ms;
}

.single-service:hover h4{
    color: #fff!important;
}

.single-service:hover .btn-pack{
    color: #fff!important;
    background-color: #15181a;
}

.single-service.active h4{
    color: #fff!important;
}

.single-service.active .btn-pack{
    color: #fff;
    background-color: #15181a;
}

.custom-list {
    list-style: none; /* Supprime les puces par défaut */
    padding-left: 0; /* Supprime l'indentation */
  }
  
  .custom-list li {
    position: relative;
    padding-left: 30px; /* Ajoute de l'espace pour l'icône */
    margin-bottom: 10px; /* Ajoute un espace entre les éléments */
  }

  .custom-list li::before {
    content: "\f560";
    font-family: "FontAwesome";
    font-size: 17px;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px; /* Ajuste la taille de l'icône */
    height: 20px;
    color: #44cc00;
  }

  .active .custom-list li::before {
    color: #fff;
  }

  .single-service:hover .custom-list li::before{
    color: #fff;
  }

  .single-service li, .single-service p{
    font-size: 1.1rem;
  }


  .accordion-button:not(.collapsed){
    background-color: #44cc00;
    font-size: 1.3rem;
    color: #15181a;
  }

  .accordion-button:not(.collapsed)::after{
    background: none;
    color: #15181a;
  }

  .accordion-button.collapsed{
    font-size: 1.3rem;
    background-color: #15181a;
    color: #fff;
    margin-bottom: 10px!important;
  }

 

  .accordion-item{
    background-color: transparent;
  }

  .accordion-button:after{
    background: none;
    content: "\f078";
    font-family: "FontAwesome";
    color: #44cc00;
  }

  .accordion-button:focus{
    box-shadow: none;
  }